body {
  font-family: Impact, "Arial Narrow Bold", sans-serif;
}
#sheet {
  margin: 0 auto;
  width: 60%;
  max-width: 700px;
  min-width: 260px;
  border: 1px solid darkslategray;
  padding: 0 10px;
}
h1,
h1 + h2 {
  text-align: left;
}
h1 + h2 {
  margin-bottom: 20px;
  font-size: 22px;
}

.row {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  border-bottom: 1px solid darkslategray;
}
.row:nth-of-type(odd):not(.first) {
  background-color: rgb(223, 230, 225);
}
.row:last-child {
  background-color: transparent;
}
.note {
  font-style: italic;
  margin-left: 20px;
}
span[class="name"] {
  text-align: left;
  width: 100%;
}
span:not(.name) {
  text-align: right;
  min-width: 15%;
}
h2:not(#header h2) {
  padding: 5px;
  font-size: 22px;
  font-weight: normal;
  background-color: rgb(89, 155, 89);
}
p[class~="total"] {
  font-weight: 900;
  border-bottom: 6px double darkslategray;
}
.current {
  font-style: italic;
}
.row[tabindex]:hover {
  background-color: rgb(103, 134, 134);
  cursor: pointer;
}
.row[tabindex]:focus {
  color: white;
  background-color: darkslategrey;
}
@media (max-width: 600px) {
  h1 {
    font-size: 22px;
  }
  h1 + h2 {
    font-size: 15px;
  }
  h2:not(#header h2) {
    font-size: 15px;
    padding: 2px;
  }
  .note {
    font-size: 10px;
  }
  .row {
    padding: 2px;
    font-size: 12px;
  }
}
